node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

coverage
node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
dist/
public/

/config/local*.*

# nyc test coverage
.nyc_output

# Yarn 3 files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
