node_modules/
.nyc_output
.sass-cache
*.css

.idea/
*.iml

*swp
*log
.DS_Store

app/public/img/lib/*
src/main/public/js/lib/**/*.js
app/public/stylesheets/lib/*

node-rpm-packaging/
mochawesome-report/
npm-debug.log.*

.project
.settings/
dist/
public/

# nyc test coverage
.nyc_output
